@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  background: midnightblue;
  color: whitesmoke;
  min-height: 100vh;
  min-width: 95vw;
}

.TopNav {
  background-image: url('../public/AudiophileBanner.png');
  background-size: cover;
  background-position: center center;
  /* background-repeat: no-repeat; */
  /* background-attachment: initial; */
  height: 25vh;
  /* padding: 1em; */
}

button {
  padding: 0.25em 1em;
  display: block;
  margin: 1em;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1 {
  margin: 1em auto;
  text-align: center;
}

a {
  color: white;
}

.add-new-album {
  margin: 1em;
}

.landingCarousel {
  width: 100%;
  margin-top: 30px;
  height: 400px;
}

.slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.5);
  transition: transform 250ms;
  opacity: .8;
}

.activeSlide {
  transform: scale(1.0);
  z-index: 3;
  opacity: 1;
}

.albumQuery{
  width: 80rem;
}

.searchButton {
  display: grid;
  grid-template-columns: 9fr 1fr;

}

.album-container {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 1em;
  box-shadow: 5px 5px 50px black;
  padding: 2em;
  width: 80vw;
  margin: 0 auto 2em;
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}
.album-container > div {
  /* width:  */
}

.album-image, .artist-image {
  width: 100%;
  object-fit: cover;
}

.query-div {
  width: 70%;
  margin: 0 auto;
  padding: 1em;
}

.card {
  width: 250px;
  padding: 0.25em;
  border: 1px solid #fc9842;
  box-shadow: 5px 5px 50px black;
  text-align: center;
  background: midnightblue;
}

.spotify-card {
  width: 320px;
  padding: 0.25em;
  margin: 1em auto;
  border: 1px solid #fc9842;
  box-shadow: 5px 5px 50px black;
  text-align: center;
  background: midnightblue;
  position: relative;
}

.card-add-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  /* font-size: 1.2em; */
  /* padding: 0.35em; */
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 26.5px;
  transition: all .4s ease-out;
  background: rgba(0,0,0,.8);
  /* backdrop-filter: blur(3px); */
  color: #FF0000;
  border-radius: 30px;
}

.card-add-btn:hover {
  width: 200px;
}

.card-back-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  /* font-size: 1.5em;
  padding: 0.25em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 26.5px;
  transition: all .4 ease-out; */
  /* background: rgb(25, 25, 112, .9); */
  /* backdrop-filter: blur(8px); */
  background: rgba(0,0,0,.8);
  border-radius: 30px;
}

.btn-text {
  color: #FF0000;
  backdrop-filter: blur(3px);
  background: rgb(0,0,0, .4);
}

/* .modal {
  background-color: #bd4f6c;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
} */

/* FOOTER ELEMS */
footer h3 {
  text-align: center;
}

.engineers-footer-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.engineer {
  max-width: 30%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.engineer-links-list {
  list-style-type: none;
}

.engineer-link {
  display: inline;
  padding-right: 0.5em;
}
